body {
    margin: 0;
    padding: 0;
    background: rgb(201, 201, 201);
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

header {
    font-weight: lighter;
}

aside, main {
    font-family: sans-serif;
    padding: 0 30px;
}

aside {
    text-align: center;
    background: rgb(2, 16, 36);
    color: #fff;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 10px 15px;
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    box-sizing: border-box;
}

.tarjetas-graficos {
    flex: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.tarjeta {
    background: white;
    padding: 16px;
    gap: 8px;
    margin: 0px 10px 20px 0px;
}

.t4 {
    margin-right: 0;
}

.grafico1 {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    background: white;
    padding: 10px;
    gap: 8px;
    margin: 0px 10px 10px 0px;
}           /*top rigth bottom left  */

.grafico2 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
    background: white;
    padding: 10px;
    gap: 8px;
    margin: 0px 10px 10px 0px;
}

.grafico3 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
    background: white;
    padding: 16px;
    gap: 8px;
    margin: 0px 0px 10px 10px;
}
        
