body {
    margin: 0;
    padding: 0;
    background: rgb(201, 201, 201);
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

aside, main {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 30px;
}

aside {
    text-align: center;
    background: rgb(2, 16, 36);
    color: #fff;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.tarjeta {
    background: #fff;
    color: black;
    padding: 40px;
}

.resultados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.resultados .grafico:nth-child(1) {
  background: #ffd54f;
  grid-column: 1 / span 3; /* ocupa 3 columnas */
  grid-row: 1 / 2; /* 1 fila */
}

.resultados .grafico:nth-child(2) {
  background: #81c784;
  grid-column: 1 / span 3; /* también 3 columnas */
  grid-row: 2 / 3;
}

.resultados .grafico:nth-child(3) {
  background: #64b5f6;
  grid-column: 4 / 5; /* última columna */
  grid-row: 1 / span 2; /* ocupa 2 filas */
}

.grafico {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}