body {
    margin: 0;
    color: black;
    background: rgb(239, 238, 255);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header, nav, footer {
    padding: 16px;
    text-align: center;
}

header, footer {
    background: black;
    color: #fff;
}

nav {
    background: rgb(189, 189, 248);
}

main {
    display: flex;
    gap: 16px;
    padding: 16px;
}

article {
    flex: 3;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
}

aside {
    flex: 1;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
}
